[Desktop Entry]
Categories={{categories}}
Comment={{comment}}
Exec={{exec}} %U
StartupWMClass=markdownaura
Icon={{icon}}
Name={{name}}
Terminal=false
Type=Application
MimeType=text/markdown
